@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    @apply container mx-auto px-6 lg:px-10 xl:px-20
  }
  .show {
    @apply visible opacity-100;
  }
  .hide {
    @apply invisible opacity-0;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body.waiting * { 
  cursor: wait; 
}

.text-pancy{
  color: rgb(129 41 217/1);
}


.fade {
  animation-duration: 1s;
  animation-name: fadeAnimation;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Banner background */

.banner {
  position: relative;
  z-index: 2;
}

.banner::before {
  content: '';
  position: absolute;
  transform: scale(-1);
  top: -100px;
  left: 0;
  width: 500px;
  height: 500px;
  background-image: url('../assets/images/blob.svg');
  background-repeat: no-repeat;
  margin: auto;
  z-index: -1;
}

/* .banner:before {
  content:'';
  position: absolute;
  width: 30vh;
  height: 30vh;
  background-color: rgba(255, 128, 0, .3);
  border-radius: 46% 54% 31% 69% / 64% 59% 41% 36%;
  transform: translate(100px, 50px);
  animation-duration: 20s;
  animation-name: breathe;
  animation-iteration-count: infinite;
}

@keyframes breathe{
  0% {
    opacity: 0;
    scale: 1;
  }
  25%{
    opacity: 1;
    scale: 1.05;
  }
  50%{
    opacity: 1;
    scale: 1.1;
  }
  75%{
    opacity: 1;
    scale: 1.075;
  }
  100% {
    opacity: 0;
    scale: 1;
  }
}

.banner:after {
  content:'';
  position: absolute;
  width: 30vh;
  height: 30vh;
  background-color: rgba(255, 255, 255, .25);
  border-radius: 28% 72% 82% 18% / 19% 17% 83% 81%;
  transform: translate(120px, -250px);
  animation-duration: 15s;
  animation-name: breathe;
  animation-iteration-count: infinite;
} */

/* Card */
.card {
  position: absolute;
  top: 0;
}

/* Rotate animation */
.rotate {
  animation-duration: 5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
transform: rotate(0deg);

  }

  25% {
transform: rotate(3deg);

  }

  50% {
transform: rotate(0deg);

  }

  75% {
transform: rotate(-3deg);

  }

  100% {
transform: rotate(0deg);

  }
}

/* Spotify, Twitter, Youtube - Landing Page */
.socials {
  position: relative;
  background: url('../assets/images/phone.png');
  z-index: 10;
}

.socials::before {
  content: '';
  width: 278px;
  height: 574px;
  border-radius: 45px;
  background-size: cover;
  position: absolute;
  margin: auto;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: switchImgs 15s infinite ease-in-out;
  transition: all .3s ease-in;
  background-image: url('../assets/images/feature-spotify.png');
}

@keyframes switchImgs {
  33% {
    background-image: url('../assets/images/feature-twitter.png');
  }
  66% {
    background-image: url('../assets/images/feature-youtube.png');
  }
  99% {
    background-image: url('../assets/images/feature-spotify.png');
  }
}

/* Verify modal - Create account Route */
.verify-modal {
  opacity: 0;
  visibility: none;
  transition-duration: .25s;
}
.check-circle:hover + .verify-modal {
  opacity: 1;
  visibility: visible;
}

